<div class="container">
    <div class="row">
        <h3>List of My Objects</h3>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="row">
                <div>
                    <div id="div_addSection" class="clickable" (click)="toggleAddNewMyObject($event)">
                        <i class="fas fa-plus-circle" id="btn_addSection"></i>
                        <span>Add</span>
                    </div>
                </div>
            </div>
            <div class="row" id="div_addNewMyObject">
                <form>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <label For="NameInput" class="input-group-text">Name</label>
                                </div>
                                <input class="form-control" name="Name" id="NameInput" type="text"
                                    [(ngModel)]="newMyObjectToAdd.name" />
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <label For="DescriptionInput" class="input-group-text">Description</label>
                                </div>
                                <input class="form-control" name="Description" id="DescriptionInput" type="text"
                                    [(ngModel)]="newMyObjectToAdd.description" />
                            </div>
                        </div>
                        <div class="col"></div>
                        <div class="col-sm-5">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <label For="LastUpdatedInput" class="input-group-text">Last Updated</label>
                                </div>
                                <input class="form-control" name="LastUpdated" id="LastUpdatedInput" type="datetime-local"
                                    [(ngModel)]="newMyObjectToAdd.lastUpdated" />
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <label For="LastUpdatedByInput" class="input-group-text">Last Updated By</label>
                                </div>
                                <input class="form-control" name="LastUpdatedBy" id="LastUpdatedByInput" type="text"
                                    [(ngModel)]="newMyObjectToAdd.lastUpdatedBy" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-grid gap-2 col-3 mx-auto" id="div_addNewObjectButton">
                            <button class="btn btn-primary" type="button" (click)="addNewObject()">Add New Object</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-8">
            <div class="row">
                <div class="col"></div>
                <div class="col-4">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <label For="FilterInput" class="input-group-text">Filter</label>
                        </div>
                        <input class="form-control" name="Filter" id="FilterInput" type="text" [(ngModel)]="filter" />
                    </div>
                </div>
            </div>
            <div class="row" id="div_refreshButton">
                <i class="fas fa-redo clickable" id="btn_refresh" (click)="refreshTableData()"></i>
            </div>
            <table class="table table-condenced">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Last Updated</th>
                        <th>Last Updated By</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let o of client.myobjects">
                        <ng-container *ngIf="!filter || valueContainsFilter(o, filter)">
                            <tr (click)="toggleMyObjectItems($event)">
                                <td>{{ o.id }}</td>
                                <td>{{ o.name }}</td>
                                <td>{{ o.description }}</td>
                                <td>{{ formatDate(o.lastUpdated) }}</td>
                                <td>{{ o.lastUpdatedBy }}</td>
                            </tr>
                            <tr class="myObjectItems">
                                <td colspan="5">
                                    <table class="table table-condenced">
                                        <thead>
                                            <tr>
                                                <th>ObjectItem Id</th>
                                                <th>ObjectItem Name</th>
                                                <th>ObjectItem Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let oi of o.myObjectItems">
                                                <tr>
                                                    <td>{{ oi.id }}</td>
                                                    <td>{{ oi.name }}</td>
                                                    <td>{{ oi.description }}</td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <ng-container *ngIf="!isProduction()">
                <div class="row" id="div_devHelper">
                    <code>{{ client.myobjects | json }}</code>
                </div>
            </ng-container>
        </div>
        <div class="col-auto"></div>
    </div>
</div>