<div class="container">
    <div class="row">
        <h3>List of My Objects</h3>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-8">
            <div class="row">
                <div class="col"></div>
                <div class="col-4">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <label For="FilterInput" class="input-group-text">Filter:</label>
                        </div>
                        <input class="form-control" name="Filter" id="FilterInput" type="text" [(ngModel)]="filter" />
                    </div>
                </div>
            </div>
            <table class="table table-condenced">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Last Updated</th>
                        <th>Last Updated By</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let o of client.myobjects">
                        <ng-container *ngIf="!filter || valueContainsFilter(o, filter)">
                            <tr (click)="toggleMyObjectItems($event)">
                                <td>{{ o.id }}</td>
                                <td>{{ o.name }}</td>
                                <td>{{ o.description }}</td>
                                <td>{{ o.lastUpdated }}</td>
                                <td>{{ o.lastUpdatedBy }}</td>
                            </tr>
                            <tr class="myObjectItems">
                                <td colspan="5">
                                    <table class="table table-condenced">
                                        <thead>
                                            <tr>
                                                <th>ObjectItem Id</th>
                                                <th>ObjectItem Name</th>
                                                <th>ObjectItem Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let oi of o.myObjectItems">
                                                <tr>
                                                    <td>{{ oi.id }}</td>
                                                    <td>{{ oi.name }}</td>
                                                    <td>{{ oi.description }}</td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>
            <ng-container *ngIf="!isProduction()">
                <div class="row" id="devHelper">
                    <code>{{ client.myobjects | json }}</code>
                </div>
            </ng-container>
        </div>
        <div class="col"></div>
    </div>
</div>