#div_devHelper {
    margin-top: 100px;
}

.myObjectItems {
    display: none;
}

#btn_addSection {
    color: forestgreen;
    padding-right: 5px;
}

#div_addSection {
    float: left;
    width: 60px;
}

#div_addNewMyObject {
    padding: 20px;
    border: dashed teal 2px;
    margin: 10px;
    display: none;
}

tr.myObjectItems th, tr.myObjectItems td {
    color: rgb(79, 84, 90);
    background-color: rgb(240, 236, 236);
}

#div_addNewObjectButton {
    margin-top: 10px;
}

#div_refreshButton {
    float: right;
}
