<div class="container">
    <div class="row">
        <h3>List of My Objects</h3>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-8">
            <div class="row">
                <div class="col"></div>
                <div class="col-4">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Filter:</div>
                        </div>
                        <input class="form-control" name="Filter" type="text" [(ngModel)]="filter" />
                    </div>
                </div>
            </div>
            <table class="table table-condenced">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Last Updated</th>
                        <th>Last Updated By</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let o of client.myobjects">
                        <ng-container *ngIf="!filter || valueContainsFilter(o, filter)">
                            <td>{{ o.id }}</td>
                            <td>{{ o.name }}</td>
                            <td>{{ o.description }}</td>
                            <td>{{ o.lastUpdated }}</td>
                            <td>{{ o.lastUpdatedBy }}</td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
            <ng-container *ngIf="!isProduction()">
                <div class="row">
                    <code>{{ client.myobjects | json }}</code>
                </div>
            </ng-container>
        </div>
        <div class="col"></div>
    </div>
</div>