@import '../styles/variables';

#div_devHelper {
    margin-top: 100px;
}

.myObjectItems {
    display: none;
}

#div_addSection {
    float: left;
    width: 60px;
    
    #btn_addSection {
        color: $button-color;
        padding-right: 5px;
    }
}

#div_addNewMyObject {
    padding: 20px;
    border: dashed teal 2px;
    margin: 10px;
    display: none;

    #div_addNewObjectButton {
        margin-top: 10px;
    }
}

tr.myObjectItems th, tr.myObjectItems td {
    color: rgb(79, 84, 90);
    background-color: rgb(240, 236, 236);
}

#div_refreshButton {
    float: right;
}

.clickable {
    text-shadow: 4px 4px 5px gray;
}
.clickable:hover {
    @extend .clickable;
    cursor: pointer;
}