@model MyObjectViewModel
@{
    ViewData["Title"] = "Home Page";
}
@section Styles {
    <link rel="stylesheet" href="~/css/index.css"></link>
}
<div class="text-center">
    <h1 class="display-4">Welcome to the Home Page of the Template</h1> 
    <p class="lead">This template is used to have a starting point for new web applications which employ ASP.NETCore MVC using dotnet SDK 5 framework, in addittion to 
        EntityFramework Core for data handling, Angular for building Single Page Applications inside the web app. This template uses Bootstrap library to give the view 
        of the website a modern look. Bootstrap templates can be used to modify the look and feel of the website.</p>
</div>
